@font-face {
  font-family: "Karl";
  src: url("../fonts/karlaregular.woff2") format("woff2"),
    url("../fonts/karlaregular.woff2") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Karl";
  src: url("../fonts/karlabold.woff2") format("woff2"),
    url("../fonts/karlabold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}