.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

.logo {

	&_link {
		color: $grey;
	}

	&__text {
		@include karla;

		font-size: 18px;
		text-transform: uppercase;
	}

	&__img {
		vertical-align: middle;
	}
}

.header-menu {
	display: flex;
	align-items: center;

	&__link:not(:last-child) {
		margin-right: 50px;
	}
}

.profile {
	display: flex;
	align-items: center;

	&__avatar {
		margin-right: 10px;
	}

	&__name {
		position: relative;
		margin-right: 12px;
		padding-right: 15px;

		@include karla;

		color: $grey;
		font-size: 15px;

		a {
			color: $grey;
			font-size: 15px;
		}
	}

	&__name:after {
		position: absolute;
		top: 0;
		right: -12px;
		display: block;
		width: 12px;
		height: 17px;
		content: "";

		background-image: url("../img/edit_profile.svg");
	}
}

.header-menu__link-active {
	position: relative;
}

.menu-text {
	position: absolute;
	bottom: -65px;
	left: -21px;
	padding: 10px;

	@include karla;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;

	background-color: #d8232a;

	border-radius: 10px;

	z-index: 20;
}

.menu-text::after {
	position: absolute;
	top: -6px;
	left: 25px;
	display: block;
	content: '';

	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #d8232a;
}
