.main-container {
	position: relative;
	min-height: 497px;

	background-image: url('../img/banner.jpg');
	background-repeat: no-repeat;
	background-position: top center;
}

.main-container::after {
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 50px;
	content: '';

	background-image: url('../img/bottom_bar.png');
	background-repeat: no-repeat;
	background-position: bottom center;
}

.actors-box {
	position: relative;
	min-height: 497px;
}

.actors-list {
	position: absolute;
	top: 40%;
	left: 0;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	margin-left: 5px;
}

.actors-item:not(:nth-child(2)) {
	width: 10px;
	height: 10px;
	margin-bottom: 10px;
	margin-left: 10px;

	background-color: #fff;

	border-radius: 50%;
}

.actors-item:last-child {
	margin-bottom: 0;
}

.actors-item__active {
	display: flex;
	align-items: center;
	margin-bottom: 10px;

	img {
		border: 3px solid red;
		border-radius: 50%;
	}
}

.actors-item__name {
	padding-left: 11px;

	@include karla;
	color: #ffffff;
	font-size: 14px;

}

.watch {
	position: absolute;
	top: 60%;
	right: 15%;

	&__link {
		min-width: 118px;
		padding: 14px 17px;

		@include karla;
		color: #ffffff;
		font-size: 14px;
		text-transform: uppercase;

		border-radius: 5px;
		background-color: #d8232a;
	}
}

.box-info {
	width: 100%;
	padding: 15px 0;
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;


	z-index: 30;
}

.info-left {
	width: 515px/1135px*100%;
	display: flex;
	justify-content: space-between;

}

.published {
	text-transform: uppercase;

	span {
		@include karlareg;
		color: #d8232a;
		font-size: 16px;

		b {
			margin-right: 5px;

			@include karla;
			color: #ffffff;
			font-size: 14px;
		}
	}
}

.update {
	text-transform: uppercase;

	span {
		@include karlareg;
		color: #d8232a;
		font-size: 16px;

		b {
			margin-right: 5px;

			@include karla;
			color: #ffffff;
			font-size: 14px;
		}
	}
}

.rating {
	display: flex;
	align-items: center;
	text-transform: uppercase;

	span {
		margin-right: 5px;

		b {
			@include karla;
			color: #ffffff;
			font-size: 14px;
		}
	}

	&__group {
		display: flex;
		align-items: center;
	}

	&__star:not(:last-of-type) {
		margin-right: 4px;
	}

}

.info-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	@include karla;
	font-size: 14px;
}

.like {
	position: relative;
	margin-left: 18px;
	padding-left: 12px;
}

.like::before {
	position: absolute;
	top: 2px;
	left: -18px;
	display: block;
	width: 15px;
	height: 13px;
	content: '';

	background-image: url(../img/02_1.svg);
}

.comments {
	position: relative;
	margin-left: 18px + 25px;
	padding-left: 12px;
}

.comments::before {
	position: absolute;
	top: 2px;
	left: -18px;
	display: block;
	width: 14px;
	height: 14px;
	content: '';

	background-image: url(../img/02_2.svg);
}

.download {
	position: relative;
	margin-left: 18px + 25px;
	padding-left: 12px;
}

.download::before {
	position: absolute;
	top: 2px;
	left: -18px;
	display: block;
	width: 14px;
	height: 14px;
	content: '';

	background-image: url(../img/02_3.svg);
}